<!DOCTYPE html>
<html>
  <head>
    <title>404 Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
    <h1>404: Page Not Found</h1>
    <p>Uh oh. Looks like we couldn't find that page.</p>
    <p>You tried to access <%= url %>. Please check for typos and try again.</p>
  </body>
</html>
