<!DOCTYPE html>
<html>
  <head>
    <title>500 Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/error.css' />
  </head>
  <body>
    <h1><%= error %></h1>
    <p>Uh oh. Looks like we ran into a problem.</p>
  </body>
</html>
